<ul id="slides">
  <% @users.each_with_index do |user, i| %>
    <li class="slide <%= 'showing' if i == 0 %>" data-id="<%= user.id %>">
      <div class="image-carousel" style="background-image: url('<%= url_for user.images.first %>')">
        <div class="user-details">
          <div>
            <span><%= user.first_name %>, <small>30</small></span>
          </div>
          <div class="user-graduation">
            <i class="fa fa-graduation-cap mr-3"></i>Job / Studies
          </div>
          <div class="user-location">
            <i class="fa fa-map-marker mr-3"></i>Location
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<div class="slide-controls">
  <span class="controls" id="decline"><i class="fa fa-times-circle fa-2x"></i></span>
  <span class="controls" id="approve"><i class="fa fa-heart fa-2x"></i></span>
</div>
