@import "variables";

// @import "bootstrap-override";
@import "~bootstrap/scss/bootstrap";
// @import "~@fortawesome/fontawesome-free/css/all.css";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

@import "slides";

.image-carousel {
  position: relative;
  width: 300px;
  min-height: 400px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.user-details {
  font-size: 30px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: left;
  padding-left: 30px;
}

.user-location, .user-graduation {
  font-size: 18px;
}
