<div class="card-deck mb-3 text-center">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Join the best dating app</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">Get started for FREE</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quisquam maiores sint, tempore eveniet nihil autem atque nobis reiciendis iste laborum dignissimos in quidem. Praesentium repudiandae dicta deserunt possimus iste!</p>
      <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
    </div>
  </div>
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Sign Up Today</h4>
    </div>
    <div class="card-body">
      <%#= render "" %>

      <%# <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button> %>
    </div>
  </div>
</div>
